
{{#section 'head'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.22.0/phaser.js"></script>
{{!-- add css link or anythin else in here --}}
{{/section}}


<div class="gal-body">
  <div id="gal-container">
    <div id="score">Score: 0</div>
    {{!-- PUT STUFF FOR BODY IN HERE --}}
    
  </div>
  <div class="gal-highscore">
    <table class="table table-hover table-dark mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each highscores}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    
  </div>

</div>

{{#section 'script'}}
<script src="static/js/Entities.js"></script>
<script src="static/js/SceneMainMenu.js"></script>
<script src="static/js/SceneMain.js"></script>
<script src="static/js/SceneGameOver.js"></script>
<script src="static/js/game.js"></script>
{{/section}}