
{{#section 'head'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.22.0/phaser.js"></script>
{{!-- add css link or anythin else in here --}}
{{/section}}

<div id="score">Score: 0</div>



{{#section 'script'}}
<script src="/static/js/Entities.js"></script>
<script src="/static/js/SceneMainMenu.js"></script>
<script src="/static/js/SceneMain.js"></script>
<script src="/static/js/SceneGameOver.js"></script>
<script src="/static/js/game.js"></script>
{{/section}}