{{#section 'head'}}
  <link rel="stylesheet" href="/static/css/multiplayer_form.css">
{{!-- add css link or anythin else in here --}}
{{/section}}


<form class="form-inline gal-form" action="/multiplayer/{{lobbyName}}" method="POST">
  <h2>Joining: {{lobbyName}}</h2>
  {{#if errorMSG}}<h3 class="text-danger">FAILED: COULDN'T JOIN</h3>{{/if}}
  <h3>Enter your name: </h3>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">USERNAME</label>
    <input type="text" class="form-control" name="username" placeholder="username">
  </div>
  <button type="submit" class="btn btn-primary mb-2">CHOOSE NAME</button>
</form>