<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Lobby Code</th>
      <th scope="col">Lobby Name</th>
      <th scope="col">Total Size</th>
    </tr>
  </thead>
  <tbody>
    <a href="#"></a><tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr></a>
    <a href="#"></a><tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr></a>
    <a href="#"><tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
    </tr></a>
  </tbody>
</table>