<table class="table table-hover table-dark mb-0 header">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each lobbies}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.currentPlayers}}/{{this.totalPlayers}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>